<%- include('includes/head.ejs') %>
  <div class="result-main">
    <h1 class="title-result">Result</h1>
    <div class="content">
      <h3><%= num1 %> + <%= num2 %> = <%= result %></h3>
    </div>
  </div>
<%- include('includes/end.ejs') %>